{% extends "base.html" %}

{% block nav %}
    <nav>
        <a class="nav" href="/weblog/"><span style="display:inline-block" class="ui-icon ui-icon-home"></span>Home</a>
        <a class="nav" href="/categories/"><span style="display:inline-block" class="ui-icon ui-icon-contact"></span>Categories</a>
        <a class="nav" href="/tags/"># Discover</a>
        <a class="nava" href="/profile_list/">@ Connect</a>

        {% if username %}
            <a class="nav" href="/create_pick/"><span style="display:inline-block"
                                                      class="ui-icon ui-icon-document"></span>Compose Post</a>
            <a class="nav" id="login" href="/user/{{ uid }}"><span style="display:inline-block"
                                                                   class="ui-icon ui-icon-person"></span>{{ username }}
            </a>
            <a class="nav" href="/profile/"><span style="display:inline-block" class="ui-icon ui-icon-gear"></span>Manage
                Account </a>
            <a class="nav" href="/logout/"><span style="display:inline-block" class="ui-icon ui-icon-locked"></span>Sign
                Out </a>

        {% else %}
            <a class="nav" id="login" href="/login/"><span style="display:inline-block"
                                                           class="ui-icon ui-icon-key"></span>Sign In </a>
            <a class="nav" href="/register/"><span style="display:inline-block" class="ui-icon ui-icon-person"></span>Sign
                Up </a>
            <a class="active" href="/forgot/"><span style="display:inline-block" class="ui-icon ui-icon-help"></span>Forgot
                Password </a>
        {% endif %}
    </nav>

{% endblock %}
{% block content %}



    {% if form.errors %}
        <br>
        <p class="error">That email either does not exist or is invalid</p>
    {% endif %}
    <br>
    <article style="height:380px;" class="coolshadow">
        <p style="color:red;">
            {{ error }}
        </p>
        <br><br>

        <div class="outer">
            <form style="float:left;" action="/send_password/" method="get">
                <label for="email">Email Address:</label>
                <input type="text" name="email" value="" id="email">
                <br> <br>
                <input type="submit" value="Recover Password"/>
            </form>
        </div>

    </article>

{% endblock %}