{% extends "base.html" %}





{% block nav %}

	<nav> 
			<a class="nav" href="/weblog/"><span style="display:inline-block" class="ui-icon ui-icon-home"></span>Home</a> 
			<a class="nav" href="/categories/"><span style="display:inline-block" class="ui-icon ui-icon-contact"></span>Categories</a>
			<a class="nav" href="/tags/"># Discover</a> 
			<a class="activea" href="/profile_list/">@ Connect</a> 
			
			{% if username %}
  			<a class="nav" href="/create_pick/"><span style="display:inline-block" class="ui-icon ui-icon-document"></span>Compose Post</a>
			<a class="nav" id="login" href="/user/{{ uid }}"><span style="display:inline-block" class="ui-icon ui-icon-person"></span>{{ username }} </a>
			<a class="nav" href="/profile/"><span style="display:inline-block" class="ui-icon ui-icon-gear"></span>Manage Account </a>
			<a class="nav" href="/logout/"><span style="display:inline-block" class="ui-icon ui-icon-locked"></span>Sign Out </a>
			
			{% else %}
			<a class="nav" id="login" href="/login/"><span style="display:inline-block" class="ui-icon ui-icon-key"></span>Sign In </a>
			<a class="nav" href="/register/"><span style="display:inline-block" class="ui-icon ui-icon-person"></span>Sign Up </a>
			<a class="nav" href="/forgot/"><span style="display:inline-block" class="ui-icon ui-icon-help"></span>Forgot Password </a>
			{% endif %}			
	</nav>
	
{% endblock %}


{% block content %}

<br>
<h2>Latest Members</h2>


	{% for item in basic %}
	
	<div onclick="window.open('/user/{{ item.id }}/')" class="outer">
	
	{% for a_item in advanced %}
		{% if a_item.avatar and a_item.uid_id == item.id %}
		<section class="inner" style="background-image:url('/static/uploaded_files/{{a_item.avatar}}');">
		{% endif %}
	{% endfor %}				
		</section>
		
		
		<div class="inner2">
		<h4 class="u_name_front">{{item.username}}</h4>
		<p id="demo"></p>
		
			<p class="entry">

			<i>{{item.first_name}} </i>
			
			<i>{{item.last_name}}</i>
			
			<p><a href="{{website}}">{{a_item.website}}</a></p>
			
			</p>
			
			{% for a_item in advanced %}
				{% if a_item.uid_id == item.id %}
					<p class="post_data7">Total posts: {{a_item.num_posts}}</p>
				{% endif %}
			{% endfor %}
			
			{% for a_item in advanced %}
				{% if a_item.uid_id == item.id %}
					<p class="post_data6">Views received from all posts: {{a_item.num_views}}</p>
				{% endif %}
			{% endfor %}
			
			{% for a_item in advanced %}
				{% if a_item.uid_id == item.id %}
					<p class="post_data3">Total comments: {{a_item.num_comments}}</p>
				{% endif %}
			{% endfor %}
			
			{% for a_item in advanced %}
				{% if a_item.uid_id == item.id %}
					<p class="post_data4">Total ratings received: {{a_item.likes}}</p>
				{% endif %}
			{% endfor %}
				
					
			{% for a_item in advanced %}
				{% if a_item.uid_id == item.id %}
					<p class="post_data5">{{a_item.bio}}</p>
				{% endif %}
			{% endfor %}
				
		</div>
	</div>
			
	
	{% endfor %}	
	
	<br><br><br><br><br><br><br>
{% endblock %}
		